*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input{
    border: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input,
textarea,
select,
button {
  width: 200px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input, label{
    display: block;
    margin-top: 10px;
}


label{
    color: white;
}

input{
    background-color: #182C25;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input:focus-within{
    border: 1px solid lightgreen;
    box-shadow: 0px 5px 10px 0px black;
}

h2{
    color: white;
}

html, body{
    display: flex;
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-container{
    /* height: 100%; */
    display: flex;
    flex-direction: row;
}

.form-container{
    /* display: grid; */
    border: 1px solid blue;
    width: 100vh;
    margin-left: 5vw;
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); */
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    box-sizing: border-box;
    padding: 1em;
}

.boiler-plate{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 5vw;
}

img{
    position: relative;
    left: 0;
    width: 40%;
    height: 100%;
    object-fit: cover;
    /* display: flex; */
    /* flex-basis: 20%; */
}

.sign-up-form{
    background-color: white;
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
    display: flex;
    background-color: #182C25;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5vh;
}