*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::placeholder{
    color: rgba(197, 179, 179, 0.5);
}

input{
    border: 0;
}
body{
    /* height: 100vh;
    width: 100vw; */
    background-color: black;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input,
textarea,
select,
button {
  width: 200px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input, label{
    display: block;
    margin-top: 10px;
}


label{
    color: white;
}

input{
    background-color: #182C25;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

input:focus-within{
    border: 1px solid lightgreen;
    /* box-shadow: 0px 5px 10px 0px black; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

h2{
    color: white;
}

html, body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-container{
    /* height: 100%; */
    display: flex;
    flex-direction: row;
}

img{
    width: 30%;
    height: 100vh;
}

.banner{
    position: absolute;
    width: 40%;
    height: 100px;
    border: 10px solid green;
}

.form-container{
    /* display: grid; */
    /* border: 1px solid blue; */
    width: 100vh;
    margin-left: 5vw;
    padding: 2vh;
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); */
}

.form-wrapper{
    /* border: 1px solid red; */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 100%
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    box-sizing: border-box;
    padding: 1em;
}

.boiler-plate{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 5vw;
}



.sign-up-form{
    background-color: white;
    flex-grow: 1;
    /* height: 100vh;
    width: 100vw; */
    border: 1px solid black;
    display: flex;
    background-color: #182C25;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5vh;
}

.button-wrapper{
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

button[type="submit"],
.account-already{
    margin-left: 5vw;
}

button[type="submit"]{
    padding: 10px;
    border-radius: 10px;
    outline: 0;
    border: 0;
    background-color: rgb(74, 122, 34);
    color: white;
    font-size: 16px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: 0.4s
}

button:hover{
    cursor: pointer;
    margin-bottom: 5px;
}

.account-already{
    color: white;
}

span{
    color: lightgreen;
}